* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-color: #e1bf9b;
}

.navbar {
    background-color: #bb6f1e;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: large;
}

h3 {
    margin: 10px;
}

input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    cursor: pointer;
    background-color: #bb6f1e;
    color: #fff;
}

button:hover {
    background-color: #b45f06;
}

.delete {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    margin: 0px;
    cursor: pointer;
    background-color: #d11919;
    color: #fff;
}

.delete:hover {
    background-color: #cc0000;
}


.contact_adder {
    /* background-color: grey; */
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
}

.contact_list {
    /* background-color: grey; */
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
}

.contact {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 5px;
}

.contactHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 10px;
}

.contactDetails {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}